 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
     scroll-behavior: smooth;
 }

 body {
     background-color: #121D30;
     font-family: 'Fira Sans', sans-serif;
 }

 .navbar {
     padding: 20px;
     width: 95%;
     margin-left: 40px;
     margin-top: 10px;
     position: sticky;
     z-index: 1000;
     top: 0;
     background-color: #122D47;
 }

 .header-text {
     font-size: 24px;
     font-weight: bold;
     text-decoration: none;
     color: aquamarine;
 }

 @media (min-width: 600px) {
     .navbar-menu {
         position: absolute;
         right: 100px;
         top: 30px;
         font-size: 19px;
     }

     .navbar .navbar-menu li {
         list-style: none;
         display: inline-block;
         margin: 0 15px;
     }

     .navbar .navbar-menu li a {
         text-decoration: none;
         color: aquamarine;
     }

     .navbar .navbar-menu li a::after {
         content: '';
         display: block;
         width: 0;
         height: 2px;
         background-color: aquamarine;
         transition: width 0.3s ease-in-out;
     }

     .navbar .navbar-menu li a:hover::after {
         width: 100%;
         color: #fff;
     }

     .navbar .navbar-menu li a:hover {
         color: #fff;
     }

     .navbar-toggle {
         display: none;
     }
 }

 /* body-content */

 .container {
     border-radius: 10px;
     box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
     background: linear-gradient(to bottom, #122D47, #122D47);
     height: auto;
     width: 90%;
     position: absolute;
     top: 10px;
     left: 70px;
 }

 .banner {
     margin: 30px;
     width: 100%;
     display: flex;
     gap: 10%;
 }

 .txt {
     color: white;
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 .intro {
     font-size: 20px;
     line-height: 5px;
 }

 .name {
     font-size: 60px;
     line-height: 100px;
     color: aquamarine;
 }

 .role {
     font-size: 40px;
     line-height: 50px;
 }

 .para {
     font-size: 20px;
     line-height: 40px;
 }

 .content-1 {
     text-align: justify;
     width: 50%;
     margin-top: 10%;
     margin-left: 2%;
 }

 .content-2 {
     width: 50%;
     margin-top: 40px;
     filter: drop-shadow(white 5px 5px 5px);
 }

 video {
     border-radius: 30px;
 }

 .content-1-txt a {
     position: relative;
     display: inline-block;
     padding: 10px 20px;
     color: #03e9f4;
     font-size: 16px;
     text-decoration: none;
     text-transform: uppercase;
     overflow: hidden;
     transition: .5s;
     margin-top: 40px;
     letter-spacing: 4px;
     border-radius: 5px;
 }

 .content-1-txt a:hover {
     background: #03e9f4;
     color: #fff;
     border-radius: 5px;
 }

 .content-1-txt a span {
     position: absolute;
     display: block;
 }

 .content-1-txt a span:nth-child(1) {
     top: 0;
     left: -100%;
     width: 100%;
     height: 2px;
     background: linear-gradient(90deg, transparent, #03e9f4);
     animation: btn-anim1 1s linear infinite;
 }

 @keyframes btn-anim1 {
     0% {
         left: -100%;
     }

     50%,
     100% {
         left: 100%;
     }
 }

 .content-1-txt a span:nth-child(2) {
     top: -100%;
     right: 0;
     width: 2px;
     height: 100%;
     background: linear-gradient(180deg, transparent, #03e9f4);
     animation: btn-anim2 1s linear infinite;
     animation-delay: .25s
 }

 @keyframes btn-anim2 {
     0% {
         top: -100%;
     }

     50%,
     100% {
         top: 100%;
     }
 }

 .content-1-txt a span:nth-child(3) {
     bottom: 0;
     right: -100%;
     width: 100%;
     height: 2px;
     background: linear-gradient(270deg, transparent, #03e9f4);
     animation: btn-anim3 1s linear infinite;
     animation-delay: .5s
 }

 @keyframes btn-anim3 {
     0% {
         right: -100%;
     }

     50%,
     100% {
         right: 100%;
     }
 }

 .content-1-txt a span:nth-child(4) {
     bottom: -100%;
     left: 0;
     width: 2px;
     height: 100%;
     background: linear-gradient(360deg, transparent, #03e9f4);
     animation: btn-anim4 1s linear infinite;
     animation-delay: .75s
 }

 @keyframes btn-anim4 {
     0% {
         bottom: -100%;
     }

     50%,
     100% {
         bottom: 100%;
     }
 }




 /* About Section */

 #about {
     color: #fff;
     margin: 50px auto;
     padding: 40px;
     border-radius: 10px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
 }

 #about h2 {
     font-size: 32px;
     margin-bottom: 20px;
     color: aquamarine;
     text-align: center;
 }

 #about p {
     font-size: 18px;
     line-height: 1.6;
     margin-bottom: 30px;
 }

 #about h3 {
     font-size: 24px;
     margin-bottom: 15px;
     color: aquamarine;
     text-align: center;
 }

 #about ul {
     list-style: none;
     padding: 0;
 }

 #about li {
     font-size: 16px;
     margin-bottom: 10px;
     position: relative;
     padding-left: 20px;
 }

 .logos {
     gap: 20px;
     justify-content: center;
     display: inline-block;
     animation: scroll-left 60s linear infinite;
     display: flex;
 }

 .logos img {
     width: 60px;
     height: 60px;
     object-fit: contain;
     height: 60px;
     margin: 0 20px;
     transition: transform 0.5s;
 }

 .logos img:hover {
     transform: scale(1.1);
 }

 .logos ul li {
     list-style: none;
     margin: 0 10px;
 }

 .stacks {
     overflow: hidden;
     white-space: nowrap;
     box-sizing: border-box;
     padding: 1rem 0;
 }

 .about-section {
     text-align: center;
     padding: 50px 20px;
 }

 .about-section h1 {
     font-size: 2.5rem;
     margin-bottom: 40px;
     color: aquamarine;
 }

 .cards-container {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
     gap: 25px;
     padding: 0 10px;
 }

 .card {
     background: #121D30;
     padding: 20px;
     border-radius: 12px;
     box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
     transition: transform 0.3s ease;
 }

 .card:hover {
     transform: translateY(-10px);
 }

 .card h2 {
     color: #fff;
     margin-bottom: 10px;
 }

 .card p {
     color: #fff;
     font-size: 16px !important;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 .arrow {
     display: inline-block;
     margin-top: 15px;
     font-size: 1.5rem;
     color: aquamarine;
     transition: transform 0.3s ease;
 }

 .card:hover .arrow {
     transform: translateX(8px);
 }



 @keyframes scroll-left {
     0% {
         transform: translateX(0);
     }

     100% {
         transform: translateX(-50%);
     }
 }

 /* portfolio */
 #portfolio {
     max-width: 1100px;
     margin: 50px auto;
     padding: 40px;
     border-radius: 10px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
 }

 #portfolio h2 {
     text-align: center;
     color: aquamarine;
     font-size: 32px;
     margin-bottom: 40px;
 }

 .projects {
     display: grid;
     grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
     gap: 30px;
 }

 .project-card {
     border: 1px solid #ddd;
     border-radius: 10px;
     overflow: hidden;
     transition: 0.3s;
     background-color: #fff;
 }

 .project-card:hover {
     box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
     transform: translateY(-5px);
 }

 .project-image {
     width: 90%;
     height: 180px;
     object-fit: cover;
     margin: 15px;
     border-radius: 10px;
 }

 .project-content {
     padding: 20px;
 }

 .project-content h3 {
     margin: 0 0 10px;
     color: #34495e;
 }

 .project-content p {
     font-size: 14px;
     color: #555;
     margin-bottom: 15px;
 }

 .project-links a {
     text-decoration: none;
     color: #2980b9;
     margin-right: 15px;
     font-weight: bold;
     font-size: 14px;
 }

 .project-links a:hover {
     text-decoration: underline;
 }

 /* contact */
 #contact {
     max-width: 800px;
     margin: 50px auto;
     padding: 40px;
     border-radius: 10px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
     color: #fff;
 }

 #contact h2 {
     text-align: center;
     color: aquamarine;
     font-size: 32px;
     margin-bottom: 20px;
 }

 #contact p {
     font-size: 18px;
     line-height: 1.6;
     margin-bottom: 30px;
 }

 #contact .contact-info {
     font-size: 18px;
     line-height: 1.6;
 }

 #contact .contact-info a {
     color: aquamarine;
     text-decoration: none;
 }

 #contact .contact-info a:hover {
     text-decoration: underline;
 }

 nav ul li a {
     color: aquamarine;
     text-decoration: none;
 }

 .contact-form {
     background: #fff;
     padding: 30px;
     border-radius: 10px;
     width: 100%;
     max-width: 500px;
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
     margin: 120px;
 }

 .contact-form h2 {
     margin-bottom: 20px;
     text-align: center;
 }

 .contact-form input,
 .contact-form textarea {
     width: 100%;
     padding: 12px;
     margin-bottom: 15px;
     border: 1px solid #ccc;
     border-radius: 6px;
     font-size: 16px;
 }

 .contact-form button {
     width: 100%;
     background: #007bff;
     color: #fff;
     padding: 12px;
     border: none;
     border-radius: 6px;
     font-size: 16px;
     cursor: pointer;
 }

 .contact-form button:hover {
     background: #0056b3;
 }

 .social-icons {
     margin-top: 20px;
     text-align: center;
 }

 .social-icons a {
     margin: 0 10px;
     color: aqua;
     font-size: 24px;
     text-decoration: none;
     transition: color 0.3s;
 }

 .social-icons a:hover {
     color: #fff;
 }


 /* Media-querry */
 @media(max-width: 768px) {
     .navbar {
         margin: 0;
         border-radius: 10px;
         width: 100%;
     }

     .navbar .navbar-menu {
         list-style: none;
         padding: 0;

     }


     .navbar .navbar-menu li {
         border-bottom: 1px solid rgba(255, 255, 255, 0.2);
         margin-top: 15px;
         padding-bottom: 10px;
     }

     .navbar .navbar-menu li a {
         text-decoration: none;
         color: aquamarine;
         font-size: 18px;
     }

     .navbar-toggle {
         border: none;
         background-color: transparent;
         border: 1px solid #fff;
         padding: 5px;
         position: absolute;
         right: 10px;
         top: 15px;
         cursor: pointer;
         border-radius: 5px;
         animation: fadeIn 0.5s ease-in-out;
     }

     @keyframes fadeIn {
         from {
             opacity: 0;
         }

         to {
             opacity: 1;
         }
     }

     .navbar-toggle .bar {
         display: block;
         width: 25px;
         height: 2px;
         background-color: #fff;
         margin: 5px auto;
         border-radius: 5px;
         transition: all 0.3s ease-in-out;
     }

     .hide {
         display: none;
     }

     /* Home-content */
     .container {
         position: relative;
         top: 20px;
         left: 40px;
         width: 80%;
         height: auto;
         margin: 0;
     }

     .banner {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         text-align: center;
     }

     .content-1 {
         text-align: justify;
         width: 80%;
         margin-top: 10%;
         margin-left: 0;
         margin-right: 50px;
     }

     .content-1-txt a {
         margin-left: 50px;
     }

     .content-2 {
         width: 100%;
         margin-top: 40px;
         margin-right: 60px;
         filter: drop-shadow(white 5px 5px 5px);
     }

     .name {
         font-size: 40px !important;
     }

     .role {
         font-size: 30px !important;
     }


     /* About page */
     #about {
         width: 100%;
         color: #fff;
         margin: 50px auto;
         padding: 40px;
         border-radius: 10px;
         box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     }

     #about p {
         font-size: 16px;
         line-height: 1.6;
         margin-bottom: 30px;
     }

     #about h3 {
         font-size: 30px;
         margin-bottom: 15px;
         color: aquamarine;
         text-align: center;
     }

     .about-section h1 {
         font-size: 23px;
         margin-bottom: 20px;
     }

     .cards-container {
         grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
         gap: 20px;
         padding: 0;
     }

     .card {
         padding: 15px;
         border-radius: 10px;
         box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
         margin-left: -50;
     }

     .card h2 {
         font-size: 20px !important;
         margin-bottom: 10px;
     }

     .card p {
         font-size: 14px !important;
     }

     .logos {
         align-items: center;
         animation: scroll-left 10s linear infinite;
     }



     /* project page */
     #portfolio {
         width: 100%;
         margin-left: -20;
     }

     #portfolio h2 {
         font-size: 28px;
         margin-bottom: 30px;
         padding-left: 30px;
     }

     /* contact-page */
     .contact-form {
         width: 90%;
         margin: 20px auto;
         padding: 20px;
     }

     .contact-form h2 {
         margin-bottom: 10px;
         text-align: center;
         font-size: 24px !important;
     }
        .contact-form input,
        .contact-form textarea {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 14px;
        }
 }
